@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.Models.RequestIssue>
@{
    ViewBag.Title = "İş Arama";
}

<br />
@using (Html.BeginForm("SearchResult", "RequestIssue", FormMethod.Get))
{
<div align="center" style="width: 1410px; margin-left: auto; margin-right: auto;
    margin-top: 30px;">
    <fieldset style="background-color: rgb(241, 245, 251); border-color: rgb(174, 197, 209);" class="module aligned ">
    <table>
    <tbody>
    
    
    
        <tr>
            <td>@Html.Telerik().DatePicker().Name("TargetDate").Effects(fx => { fx.Toggle(); })</td>
            <td>İş Sahibi&nbsp;:&nbsp;@Html.DropDownList("UserID", String.Empty)&nbsp;
                Arama Kriteri&nbsp;:&nbsp;@Html.TextBox("SearchString", (string)@ViewBag.FilterString, new { size = 50 })&nbsp;
                [ Tüm alanlarda Ara&nbsp;@Html.CheckBox("AllFieldCheck", false, new { disabled = "disabled" }) ]&nbsp;
                <input type="submit" value=" Aramayı Başlat " onclick="this.disabled=true;this.value='Calisiyor..';this.form.submit();" name="SearchButton" /></td>
        </tr>
    
    </tbody>
    </table>
    </fieldset>
    
</div>

}