@model IEnumerable<Klmsncamp.Models.Location>

@{
    ViewBag.Title = "Birimler / Lokasyonlar";
}


<div align="center" style="width:640px; margin-left: auto; margin-right: auto; margin-top:30px;">

   <fieldset class="module aligned ">
    <table style="width: 100%;">
    <tbody>
    <thead>
        <th>Lokasyonlar</th>
        <th>Durumu</th>
        <th></th>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidationState.Description)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.LocationID })&nbsp;|&nbsp;@Html.ActionLink("Sil", "Delete", new { id=item.LocationID })
            </td>
        </tr>
    }
    </tbody>
    </table>
     </fieldset>
    <div class="submit-row">
        <p class="deletelink-box">@Html.ActionLink("Yeni Birim", "Create")</p>
    </div>
  
    </div>

