@model Klmsncamp.Models.InventoryOwnership

@{
    ViewBag.Title = "Aidiyet Bilgilerini Silme";
}
<div align="center" style="width: 650px; margin-left: auto; margin-right: auto; margin-top:30px; border: 1px solid #eee;">
    <table>
    <tbody>
    <thead>
    <th>Aşağıdaki Atölye kaydını silmek istediğinize emin misiniz?</th>
    </thead>
    <tr>   
     <td style="vertical-align:middle; text-align: center;">

        <b>@Html.DisplayFor(model => model.Description)</b>
    </td>
    </tr>
    <tfoot>
    <td>
            @using (Html.BeginForm()) {
                <p>
                    <input type="submit" value="Delete" /> |
                    @Html.ActionLink("Vazgeç ve Geri Dön", "Index")
                </p>
            }
    </td>
</tfoot>
</tbody>
</table>
</div>
