@model Klmsncamp.Models.InventoryOwnership

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>InventoryOwnership</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InventoryOwnershipID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
