@model Klmsncamp.Models.RequestType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RequestType</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">ParentRequestTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentRequestTypeId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RequestTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
