@{
    ViewBag.Title = "Hakkında";
}
<br />
<marquee behavior="scroll" direction="up" scrollamount="3" height="350" style="text-align: center;">

        <h3>KLIMASAN Bilgi İşlem &copy; - 2011</h3>
        <br />
        <img alt="sqlserver2008" src="@Url.Content("~/Content/images/microsoft-sql-server-2008.gif")" /><br />
        <img alt="mvc3" src="@Url.Content("~/Content/images/mvc3logo.gif")" /><br />
        <img alt="visualstudio2010" src="@Url.Content("~/Content/images/vs2010.png")" /><br />
        <img alt="Telerik Mvc3 extensions" src="@Url.Content("~/Content/images/TelerikBanner.png")" /><br />

</marquee>
<hr />