@{
    ViewBag.Title = "Klimasan Intranet";
}
@section script
        {
    @*<script src="@Url.Content("~/Scripts/jquery.jdigiclock.js")" type="text/javascript"></script>
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.jdigiclock.css")" />
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.jdigiclock.style.css")" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#digiclock').jdigiclock({

                    });
                });
            </script>*@
}
<div align="center">
    <br>
    <div align="center" id="digiclock">
    </div>
    <br>
    <h1 style="text-decoration: overline; text-shadow: 1px 1px 1px #111;">
        KLIMASAN Hoşgeldiniz</h1>
    <br />
    <br />
     <p style="font-family: Calibri, Tahoma, Arial Unicode MS; font-size: small; font-weight: bold;
        color: Maroon;">
        @ViewBag.ErrMessage
    </p>
</div>