*
{
    margin: 0;
    padding: 0;
}

form
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 640px;
}

form fieldset
{
    clear: both;
    font-size: 100%;
    border-color: #000000;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    padding: 10px;
    margin: 0 0 0 0;
}

form fieldset legend
{
    font-size: 100%;
    font-weight: bold;
    color: gray;
    margin: 0 0 0 0;
    padding: 0 5px;
}

form fieldset div.notes
{
    float: right;
    width: 158px;
    height: auto;
    margin: 0 0 10px 10px;
    padding: 5px;
    border: 1px solid #666666;
    background-color: #ffffe1;
    color: #666666;
    font-size: 88%;
    text-align: right;
}

form fieldset div.notes p
{
    margin: 0em 0em 1.2em 0em;
    color: #666666;
}

form fieldset div.notes p.last
{
    margin: 0em;
}

form div fieldset
{
    clear: none;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    margin: 0 0 0 10px;
    padding: 0 5px 5px 5px;
}

form div fieldset legend
{
    font-size: 100%;
    padding: 0 3px 0 9px;
}

/* SUBMIT ROW */

.submit-row
{
    font-family: Calibri, Tahoma, Verdana;
    font-weight: normal;
    font-size: 11px;
    padding: 5px 7px;
    text-align: right;
    background: white url(/Content/img/admin/nav-bg.gif) 0 100% repeat-x;
    border: 1px solid #ccc;
    margin: 5px 0;
    overflow: hidden;
}

.submit-row input
{
    margin: 0 0 0 5px;
}

.submit-row p
{
    margin: 0.3em;
}

.submit-row p.deletelink-box
{
    float: left;
}

.submit-row .deletelink
{
    background: url(/Content/img/admin/icon_deletelink.gif) 0 50% no-repeat;
    padding-left: 14px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}