@model Klmsncamp.Models.ValidationState

@{
    ViewBag.Title = "Gerçerlilik Durumlar Silme";
}
@section script
{

}
<div align="center" style="width: 650px; margin-left: auto; margin-right: auto; margin-top:30px; border: 1px solid #eee;">

    <table>
    <tbody>
    <thead>
    <th>Aşağıdaki kaydı silmek istediğinize emin misiniz?</th>
    </thead>
    <tr>   
     <td style="vertical-align:middle;">
      <b>[Geçerlilik Durumlar] Açıklama&nbsp;:&nbsp;@Model.Description</b>
     </td>
    </tr>
    <tfoot>
    <tr><td>
        @using (Html.BeginForm()) {
        <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Vazgeç ve geri dön", "Index")
        </p>
     }</td>
     </tr>

    </tfoot>
    </tbody>
    </table>
    
</div>
    