@{
    ViewBag.Title = "Şifre Sıfırla";
}
<div align="center" style="width: 640px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    <p>
        @ViewBag.TheUser şifresi sıfırlanma isteği sonucu :
        <br />
        @ViewBag.NewPassword
    </p>
</div>